---
import CartiCat from '../images/CartiCat.jpg'
---
<!-- HTML -->

<!-- Nav Bar -->
<div class="navBar">
	<ul>
		<li><a href="Home">Home</a></li>
		<li><a href="Projects">Projects</a></li>
		<li><a href="Photography">Photography</a></li>
	</ul>
	<div class="notification"><p id="notiText"></p></div>
</div>

<div id="intro">
	<div class="box">
		<div class="paragraph">
			<h1>PLAYBOI CARTI</h1>
			<p>fweh.</p>
		</div>
		<div class="image">
			<img src={CartiCat.src} alt="Cat" width="500" height="500" style="border-radius:10px;">
		</div>
	</div>
</div>

<style>
	html { font-size: 16px; }

	/* Nav Bar */
	.navBar {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 5%;
		border-bottom: 2px solid black;
		overflow: hidden;
	}

	ul li {
		float: left;
		list-style-type: none;
		transition: transform 0.2s ease;
	}

	ul li a {
		display: block;
		padding: 17px;
	}

	li:hover {
		transform: scale(1.5);
	}

	/* Intro */
	#intro {
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 2%
	}

	.box {
		display: flex;
		height: auto;
		box-sizing: border-box;
		border: 2px solid black;
		border-radius: 16px;
		padding: 15px;
	}

	h1 {
		font-size: 50px;
	}

	.image {
		margin-left: auto;
		padding: 10px;
	}

	.paragraph {
		text-align: center;
		padding: 100px;
	}	

	/* Mobile Support */
	@media (max-width: 600px) {
	html {
		font-size:13px;
	}

	.navBar {
		height: 8%;
	}

	ul li a {
		padding: 17px 10px;
	}
	#intro {
		height: auto;
	}

	.box {
		padding: 2%;
		flex-direction: column;
		height: 90%;
	}

	.paragraph {
		padding: 35px 50px;
	}
	}

	/* Notification */

	.notification {
		position: absolute;
		right: 15px;
		text-align: center;
		border: 2px solid black;
		width: fit-content;
		padding: 10px 20px;
		border-radius: 15px;
		background-color: #1148a1;
		color: #FFFFFF;
		transform: translateY(-150%);
	}

	.notification.show {
		animation-name: noti;
		animation-duration: 5s;
		animation-fill-mode: forwards;
	}

	@keyframes noti {
		0% {transform: translateY(-150%)}
		20% {transform: translateY(0%)}
		80% {transform: translateY(0%)}
		100% {transform: translateY(-150%)}
	}

	.disable_click {
		pointer-events: none;
	}
</style>

<script>
	const img = document.querySelector('.image img');
	const notification = document.querySelector('.notification');
	const text = document.getElementById('notiText');

	img.addEventListener('click', () => {
		notification.classList.remove('show');
		void notification.offsetWidth; 
		let adlib = getAdlib();
		text.innerHTML = adlib;
		notification.classList.add('show');
		img.classList.add('disable_click');
		setTimeout(() => img.classList.remove('disable_click'), 5000);
	});

	function getAdlib(){
		const adlibs = ["FWEAH", "SEEYUH", "BEE", "HOMICIDE HOMICIDE", "WHAT"];
		const pick = Math.floor(Math.random() * adlibs.length);
		return adlibs[pick];
	}
</script>
