---
import { Image } from 'astro:assets';
import BackArrow from '../assets/back-arrow.svg'
---
<div class="navBar">
	<a class="backButton" href="javascript:history.back()">
		<Image
			src={BackArrow}
			alt="BackArrow"
			style="height: 15px; width:15px;"
		/>
		<p style="margin: 0;">Back</p>
	</a>
	<ul>
		<li><a class="nav" href="/">Home</a></li>
		<li><a class="nav" href="/pageProjects">Projects</a></li>
		<li><a class="nav" href="javascript:void(0)">Photography</a></li>
	</ul>
</div>
<p>These are the patch notes</p>

<style>
  	.navBar {
		position: sticky;
		top:0;
		background-color: white;
		z-index: 1;
    		display: flex;
    		justify-content: center;
    		align-items: center;
    		width: 100%;
    		height: 5%;
    		border-bottom: 2px solid black;
  	}
  	.backButton {
		position: absolute;
		left: 15px;
		width: fit-content;
		display: inline-flex;
		align-items: center;
		gap: 5px;
		text-decoration: none;
		color: inherit;
		cursor: pointer;
	}
	ul {
    		margin: 0;
    		padding: 0;
  	}
  	.navBar ul li {
    		float: left;
    		list-style-type: none;
    		padding: 17px;
    		transition: transform 0.2s ease;
  	}
  	.navBar li:hover {
    		transform: scale(1.5);
  	}
</style>
